.containerCompra{
  background: #F2F2F2; 
  height: 580px;
}

.headCompra{
  position: absolute;
  width: 360px;
  height: 402px;
  left: 0px;
  top: 1px;
  background: #FFFFFF;
  border-radius: 15px;
}
  .flecha{
    position: absolute;
    left: 6.11%;
    right: 25%;
    top: 2.05%;
    bottom: 22.05%;
    }

  .meGusta{
    position: absolute;
    left: 86.5%;
    right: 8.45%;
    top: 1.65%;
    bottom: 12.37%;
  }

  .carritoImg{
    position: absolute;
    width: 376px;
    height: 402px;
    left: 6px;
    top: 45px;
  }

    .imgProductoCarrito{
      position: absolute;
      width: 340px;
      height: 275.2px;
      left: 4px;
      top:1px;
      border-radius: 14px;
    }
    .compra_info_precio{
      position: absolute;
      width: 104px;
      height: 26px;
      left: 29.5px;
      top: 420px;
      font-family: Roboto;
      font-style: normal;
      color: #449534;
    }
      .precio{
        font-weight: 500;
        font-size: 29px;
        line-height: 26px;
        
      }

      .cantidad{
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
      }
    
    .compra_info_nombre{
      position: absolute;
      width: 235.5px;
      height: 15px;
      left: 51.5px;
      top: 451px;
    }

      .nombre_pedido{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 15px;
        color: #373738;
      }

  .linea_accion_compra{
    display: flex;
    position: absolute;
    width: 360px;
    height: 131px;
    bottom: 0px;
    /* background: #F3F0EC; */
    background-color: saddlebrown;
    mix-blend-mode: normal;
    opacity: 0.6;
  }


    .cantidad_input{
      margin: 0;
      width: 4em;
    }

    .cantidad_compra {
      width: 70%;
    }

    .mas, .menos{
      background-color: none;
      border: 0;
      outline: none;
    }

  .compra_final{
    position: absolute;
    width: 172px;
    height: 44.5px;
    left: 150.5px;
    /* top: 602.5px; */

  }
