/*Agradecimiento a Lukas Häring por su diseño y su dedicación*/

#shoppingCard {
  display: block;
  background-color: #CAA565;
  width: 50px;
  height: 44px;
  border-radius: 6px;
  position: absolute;
  left: 25%;
  top: 32%;
}
.animElem {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 22px;
  /* Animation */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* Tick */
#check
{
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
#check:after
{
  content: "";
  display: block;
  width: 8px;
  height: 22px;
  border-radius: 9px;
  background-color: white;
  position: absolute;
  left: 13px;
  top: 24px;
  -webkit-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

#check:before
{
    content: "";
    display: block;
    width: 8px;
    height: 22px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 17px;
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
}

/* Carrito */
#carrito
{
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
#mango {
  position: absolute;
  left: 8px;
  top: 9px;
  width: 8px;
  height: 4px;
  background-color: white;
}
#cesta {
    width: 25px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 15px;
    left: 14px;
}
#cesta:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 0 5px;
  border-color: transparent transparent transparent #CAA565;
}

#cesta:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 6px 25px;
  border-color: transparent transparent #CAA565 transparent;
  position: absolute;
  bottom: 3px;
  right: 0px;
}
#ruedas {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    left: 14px;
    top: 33px;
    background-color: white;
    box-shadow: 22px 0px 0px white;
}
/* Fin Carrito */
/* CssEvent */
.elmActive {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  transform: scale(1) !important;
}

.containerCompra{
  position: relative;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 273px;
  height: 370px;
  background: #fafafa;
  box-shadow: 5px 5px 15px rgba(82, 87, 83, 0.5);
  border-radius: 22px;
}

.linea_accion_compra{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

    .compra_info_precio{
      font-size: 1.5em;
    }

    .cantidad_input{
      margin: 0;
      width: 4em;
    }

    .cantidad_compra {
      width: 70%;
    }

    .mas, .menos{
      background-color: none;
      border: 0;
      outline: none;
    }
    .btnBasura{
      margin-top: 7px;
    }
