@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.body_articulo{
    display: grid;
    background: rgb(252, 252, 252);
    font-family: 'Lato', sans-serif,sans-serif;
    text-transform: uppercase;
}

.container_art{
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 273px;
    height: 370px;
    background: #fafafa;
    box-shadow: 5px 5px 15px rgba(82, 87, 83, 0.5);
    border-radius: 22px;
}

.nombreProductor{
    margin-top: 10px;
}
    .imgProductos{
        /* width: 290px; */
        height: 120px;
    }
        .productor{
            font-size: 0.8em;
            color:  #4d3306;
            letter-spacing: 1px;
        }

        .nombre{
            font-size: 1.4em;
            color: #c47e07;
            margin-top: -5px;
        }

        .precios{ 
            font-size: 1.2em;
            color: #c08c33;
        }

        .direccion {
            letter-spacing: 0;
            margin-bottom: 0;
            color: #4e4e4e;
            font-size: 1em;
            line-height: 1em;
        }
        
        box-icon{
            margin-right: 2px;
        }
          
        .canton{
            font-size: 1em;
            letter-spacing: 0;
            color: #4e4e4e;
        }

        button.agregar{
            background: none;
            padding: 7px; 
            outline: none;
            border: 0;
            margin: 0.2px;
            letter-spacing: 1px;
            color: #108805;
            cursor: pointer;
            font-size: 0.8em;
        }

        button.agregar:hover {
            background: #9c6e1e;
            transition: all 0.4s ease-in-out;
        }