@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.body_articulo{
    display: flex;
    width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(252, 252, 252);
    font-family: 'Lato', sans-serif,sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    overflow: scroll;
}

.container_art{
    width: 48vw;
    min-height: 323px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(82, 87, 83, 0.5);
}

.nombreProductor{
    margin-top: 10px;
}
    .imgProductos{
        width: 111.7px;
        height: 111.7px;
    }
        .productor{
            font-size: 0.7em;
            color:  #4d3306;
            letter-spacing: 1px;
        }  

        .precios{ 
            /* width: 40.57px; */
            height: 10.54px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 11px;
            color: #449534;
        }
        
        .nombre{
            padding-top: 6px;
            width: 179px;
            height: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #373738;
        }

        .direccion {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 5px;
        }
             
        .canton{
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #626262;  
            margin:0;
            max-width: 125px;
        }
/* 
        .separacion{
            position: absolute;
            width: 162px;
            height: 1.03px;
            left: 1px;
            top: 219px;
            border: 0.514286px solid #DEDDDD;
        } */

        box-icon{
            margin-left: 10px;
            margin-right: 2px;
        }

        .btnProductos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* width: 65.83px; */
            /* height: 15.43px; */
        }

        button.agregar{
            display: flex;
            justify-items: center;
            background: none;
            outline: none;
            padding: 7px; 
            border: none;
            margin: 0.2px;            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13.3714px;
            line-height: 15px;
            color: #449534;
            letter-spacing: 1px;
            cursor: pointer;
        }

        button.agregar:hover {
            background: #9c6e1e;
            transition: all 0.4s ease-in-out;
        }