/* .container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: fixed;
    background-color: seagreen; */


.logosFooter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

a{
    display: flex;
    justify-content: center;
    list-style-type: none;
}