.mensajeCompra{
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 260px;
}


.infoCompraFinal{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
   .tituloCompraFinal{
        display: flex;
        margin-right: 15px;
        align-content: center;
        font-size: 16px;
        justify-content: flex-end;
   } 

   .productoCompraFinal{
       display: flex;
       align-items: flex-start;
   }

   .precioCompraFinal{
       font-size: 20px;
   }

   .money{
       font-weight: 600;
   }

.imgCompraFinal{
    max-width: 150px;
    margin-right: 10px;
}

    .subtotalCompraFinal{
        margin-top: 30px;
        font-size: medium;
        font-weight: 800;
    }

    button.vaciar{
        background: none;
        outline: none;
        border: none;
        padding: 10px;
        font-family: Roboto;
        font-style: normal;
        color: #449534;
    }

    .btnInicio{
        width: 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 150px;
        padding-right: 60px;
        background: none;
        border: none;

    }